.footerContainer {
    display: flex;
    justify-content: center;
    background-color: pink;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.footerTitle {
    color: whitesmoke;
    font-weight: bold;
}
