.headerContainer {
    display: flex;
    justify-content: center;
    background-color: darkcyan;
    width: 100vw;
    position: absolute;
    top: 0;
}

.titleSpan {
    color: whitesmoke;
    font-weight: bold;
}
